<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helical_conveyor_design">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Helical_Conveyor_Design">
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.AdministrarMateriales"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.AdministrarParametros"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.AdministrarProyectoActual"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.NuevoTubo"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.NuevoTransportador"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.NuevoSistemaHelicoidal"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.AdministrarMaterialActual"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.DescriptionActivity"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.NuevoMotorActivity"
            android:exported="true" />
        <activity
            android:name="com.example.helical_conveyor_design.ui.view.NuevaHelice"
            android:exported="true" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.AdministrarProyectosGuardados" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.AdministrarDatosUsuario" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.NuevoProyecto" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.Logueo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.helical_conveyor_design.ui.view.Invitado" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.CrearCuenta" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.Inicio" />
        <activity android:name="com.example.helical_conveyor_design.ui.view.NuevoMaterial" />
    </application>

</manifest>